body{background-color:#F5EBEB; ;}
hr{background-color: #F5EBEB;
    /* border-style: none; */
    /* height: 2px; */
    border-style: none; 
    border-top-style: dotted;
    border-color: #E96479;
    border-width: 5px; 
    width: 5%;
} img{height: 200px;
border-radius: 100%;}
img:hover{background-color: black;}
h1{
    color: #804674;
}
h3{
    color: #443C68;
}